@page rotated {
  size: landscape;
}
@font-face {font-family: 'SutonnyMJ';  src: local('SutonnyMJ'), url(./SUTOM.woff) format('woff');}

.landscapePage {
  page: rotated;
  page-break-before: right;
}
body{
  font-family: "nikosh", sans-serif, "SutonnyMJ" !important;
  font-size: 16px;
  text-align: justify;
}

.symbol{
  font-family: DejaVu Sans, sans-serif; font-size: 18px; 
}

.borderRight{
  border-right: 2px solid #020202;
}
table {
  font-size: 13px !important;
}
table.enTable {
  font-size: 14px !important;
}
table.bnTable td {
  font-size: 14px;
}

.w-full {
  width: 100%;
}
.font-semibold {
}
.tbBorder,
.tbBorder2 {
  border-collapse: collapse;
}
.tbBorder th,
.tbBorder td {
  border: 0.5px solid #020202 !important;
  padding: 3px;
}
.tbBorder2 td {
  border: none !important;
  padding: 3px;
}


.mainTable {
	-fs-table-paginate: paginate;
	border-spacing: 0;
	border-collapse: collapse;
	width: auto;
	table-layout: fixed;
}














tr.textLeft td,
.textLeft {
  text-align: left;
}

tr.textCenter td,
.textCenter {
  text-align: center;
}

tr.textRight td,
.textRight {
  text-align: right;
}

tr.fontBold td,
.fontBold {
  font-weight: bold;
}

tr.font-13 td,
.font-13 {
  font-size: 13px;
}

tr.font-17 td,
.font-17 {
  font-size: 17px;
}

.text-green {
  font-weight: 600;
  color: green;
}

.text-medium {
  font-size: 17px;
  font-weight: bold;
}

.text-small {
  font-size: 13px;
  font-weight: bold;
}
.text-xl {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.text-2xl {
  font-size: 2.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
}

.font-full-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.margin-top {
  margin-top: 20px;
}

.status-done {
  background-color: green;
  height: 23px;
}

.status-progress {
  background-color: darkkhaki;
  height: 23px;
}

.status-notdone {
  background-color: chocolate;
  height: 23px;
}

.default {
  background-color: rgb(255, 252, 250);
  height: 23px;
}

.table-border{
    border: 1px solid #8f8989 !important;
    border-collapse: collapse;
    padding: 5px;
}
.rotated {
  transform: rotate(270deg); /* Equal to rotateZ(45deg) */
}

.pageBreak {
  page-break-before: always !important;
}

/*
#content {
  display: table;
}

#pageFooter {
  display: table-footer-group;
}

#pageFooter:after {
  counter-increment: page;
  content: counter(page);
}
*/
